a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.error {
	color: red;
	font-weight: bold;
}

.viewed {
	background-color: green;
}

.thead th {
	background-color: #EBEBEB;
}

tr:nth-child(odd) {
	background-color: #F6F6F6;
}

.content {
	width: 72vw;
	margin: auto;
	display: block;
	border: 1px solid #EBEBEB;
	border-top: 0;
	border-bottom: 0;
}

.header {
	background-color: #E1E7F5;
	border-bottom: 1px solid #2E51A2;
	font-weight: bold;
}

table {
	width: 100%;
}

label {
	font-size: 1.2rem;
}

#collection img {
	width: 10rem;
}

#detailed img {
	width: 26rem;
}
